<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <!-- Include -->
  <?include ..\Version\InstallerGUID.wxi?>
  <?include ..\Version\InstallerVersionInfo.wxi?>
  <?include ..\Common\InstallerInfo.wxi?>


  <!-- GUID -->
  <?define GUID_UpgradeCode="$(var.GUID_PSUtilities_UpgradeCode)"?>
  <?define GUID_Product="$(var.GUID_PSUtilities_Product)"?>
  <?define GUID_ProductComponent="$(var.GUID_PSUtilities_ProductComponent)"?>

  <!-- UpgradeCode of Version 1.x.x (for Backward Compatibility) -->
  <?define GUID_UpgradeCode_Version1xx="$(var.GUID_PSUtility_Version1xx_UpgradeCode)"?>

  
  <!-- Product Information -->
  <?define ProductName="$(var.PSUtilities_ProductName) (x86)"?>
  <?define ProductComment="$(var.PSUtilities_ProductComment) (x86)"?>
  <?define PSModuleName="$(var.PSUtilities_PSModuleName)"?>

  <!-- Source Files -->
  <?define Source_ProductComponent_PSD1="$(var.Resource_PSUtilities_PSD1)"?>
  <?define Source_ProductComponent_PSM1="$(var.Resource_PSUtilities_PSM1)"?>
  <?define Source_ProductComponent_DLL1="$(var.Resource_PSUtilities_DLL1)"?>
  <!-- [Version 1.4.0.0] Append -->
  <?define Source_ProductComponent_DLL2="$(var.Resource_PSUtilities_DLL2)"?>
  <?define Source_ProductComponent_DLL3="$(var.Resource_PSUtilities_DLL3)"?>
  <?define Source_ProductComponent_DLL4="$(var.Resource_PSUtilities_DLL4)"?>


  <!-- Product -->
  <Product Id="$(var.GUID_Product)"
           UpgradeCode="$(var.GUID_UpgradeCode)"
           Manufacturer="$(var.Manufacturer)"
           Name="$(var.ProductName) $(var.Version)"
           Version="$(var.Version)"
           Language="1041" Codepage="932">
    
		<Package Id="*"
             Platform="x86"
             Description="$(var.ProductName) $(var.Version) Installer"
             Comments="$(var.ProductComment)"
             Manufacturer="$(var.Manufacturer)"
             InstallerVersion="200"
             Compressed="yes" 
             Languages="1041" SummaryCodepage="932"
             InstallScope="perMachine" />


    <!-- Major Upgrade from Version 1.x.x (from "1.0.0" to "2.0.0") to Current Version -->
    <Upgrade Id="$(var.GUID_UpgradeCode_Version1xx)">
      <UpgradeVersion OnlyDetect="no" Property="PREVIOUSFOUND"
                      Minimum="1.0.0" IncludeMinimum="yes"
                      Maximum="2.0.0" IncludeMaximum="no" />
    </Upgrade>

    
    <!-- Install Condition -->
    <!-- (This program is available for both x86 and x64.) -->
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    
    <!-- Media -->
    <MediaTemplate CabinetTemplate="data{0}.cab" EmbedCab="yes" />
    
    
    <!-- Feature -->
		<Feature Id="ProductFeature" Title="$(var.ProductName)" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

  </Product>


  
  <!-- Directories -->
  <Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">

      <!-- PSModulePath (x86) -->
      <Directory Id="ProgramFilesFolder">
        <Directory Id="WindowsPowerShellFolder" Name="WindowsPowerShell">
          <Directory Id="PSModuleFolder" Name="Modules">
            <Directory Id="INSTALLFOLDER" Name="$(var.PSModuleName)" />
          </Directory>
        </Directory>
      </Directory>

    </Directory>
  </Fragment>
  
  

  <!-- Components -->
  <Fragment>

    <!-- Program Files (x86) -->
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent" Guid="$(var.GUID_ProductComponent)">
        <File Source="$(var.Source_ProductComponent_PSD1)" />
        <File Source="$(var.Source_ProductComponent_PSM1)" />
        <File Source="$(var.Source_ProductComponent_DLL1)" />
        <File Source="$(var.Source_ProductComponent_DLL2)" />  <!-- Added at Version 1.4.0.0 -->
        <File Source="$(var.Source_ProductComponent_DLL3)" />  <!-- Added at Version 1.4.0.0 -->
        <File Source="$(var.Source_ProductComponent_DLL4)" />  <!-- Added at Version 1.4.0.0 -->
        
        <!-- Registry registration is removed. -->
        <!--
        <RegistryValue Root="HKLM" Key='SOFTWARE\[Manufacturer]\[ProductName]' Name='installed' Type='integer' Value='1' KeyPath='yes' />
        -->
      </Component>
    </ComponentGroup>

  </Fragment>
</Wix>